---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Raul M. | Frontend Developer">
	<main class="flex flex-col gap-10 md:gap-20">
		<Header />
		<About />
		<Skills />
        <Projects />
        <Contact />
	</main>
</Layout>
